body {
    width: 100%;
    background-color: rgb(255, 241, 241);
    margin: 0;
    display: flex;
    justify-content: center;
}
header {
    width: 100%;
    border-bottom: 2px solid rgb(51, 51, 51);
}
.typo {
    margin: 0;
    width: 75%;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 50px;
    max-width: 750px;
    margin: auto;
}

img {
    max-width: 750px;
    height: auto;
}

figcaption {
    padding: 5px;
    text-align: center;
}
main {
    border-bottom: 2px solid rgb(51, 51, 51);
}
  